@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sora: "Sora", sans-serif;
  --font-code: "Source Code Pro", monospace;
  --font-grotesk: "Space Grotesk", sans-serif;
}

* {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply font-sans bg-ks-white text-ks-black text-base;
  }
}

.rotate-72 {
  @apply rotate-[72deg];
}

.rotate-144 {
  @apply rotate-[144deg];
}

.rotate-216 {
  @apply rotate-[216deg];
}

.rotate-288 {
  @apply rotate-[288deg];
}

.rotate-360 {
  @apply rotate-[360deg];
}

.-rotate-72 {
  @apply -rotate-[72deg];
}

.-rotate-144 {
  @apply -rotate-[144deg];
}

.-rotate-216 {
  @apply -rotate-[216deg];
}

.-rotate-288 {
  @apply -rotate-[288deg];
}

.-rotate-360 {
  @apply -rotate-[360deg];
}